<h1 class="title animated jackInTheBox">Lista de Tarefas</h1>
<br />
<ul class="animated flipInX" *ngIf="mode == 'list'">
  <p class="text-center" *ngIf="todos.length == 0"><small>Não há nenhuma tarefa hoje!</small></p>
  <li *ngFor="let todo of todos">
    {{ todo.description }}
    <button (click)="remove(todo)"><i class="far fa-trash-alt"></i></button>
    <button *ngIf="!todo.done" (click)="markAsDone(todo)"><i class="far fa-check-circle"></i></button>
    <button *ngIf="todo.done" (click)="markAsUndone(todo)"><i class="fas fa-check-circle"></i></button>
  </li>
</ul>


<div id="modal" *ngIf="mode == 'add'" class="animated flipInX" fxLayout="row wrap">  
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Nova Tarefa</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form">

        
        <mat-form-field style="width: 100%;" appearance="outline">
          <mat-label>Outline form field</mat-label>
          <input matInput placeholder="Placeholder">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      
        <br />

        <mat-form-field style="width: 100%;">
          <input matInput placeholder="Título da Tarefa" maxlength="60" formControlName="description">
        </mat-form-field>
        <br>
        <small class="danger" *ngIf="form.controls.description.invalid && !form.controls.description.pristine">
          Este campo deve conter entre 3 e 60 caracteres<br>
        </small>
        <p class="text-center">
          <button [disabled]="form.invalid" (click)="add()" class="button"><i class="far fa-save"></i> Salvar</button>
        </p>
      </form>
      <br><br>    
    </mat-card-content>
  </mat-card>
</div>

<button class="add-button animated fadeInUp button" (click)="changeMode('add')" *ngIf="mode == 'list'">
  <i class="fas fa-plus-circle"></i>
  NOVA TAREFA
</button>
<button class="add-button animated fadeInUp button" (click)="changeMode('list')" *ngIf="mode == 'add'">
  <i class="fas fa-times"></i>
  CANCELAR
</button>
